* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #7575f3;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img, video{
  width: 100%;
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  overflow: cover;
}

.gallery::after {
  content: "";
  width: 350px;
}

#footer, .footer {
  display:flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: space-between;
}

.footer {
  margin-left: 10px;
  margin-right: 10px;
}


